.quiz-title {
  margin-top: 20px;
}

.card {
  margin-top: 20px;
}

.question-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.answer-list {
  list-style: none;
  padding: 0;
}

.answer-button {
  width: 45%;
  /* Set a fixed width for all buttons */
  margin: 5px;
}

.correct-answer {
  background-color: #4caf50 !important;
  color: #fff !important;
  /* Add text color for visibility */
}

.incorrect-answer {
  background-color: #f44336 !important;
  color: #fff !important;
  /* Add text color for visibility */
}

.default-answer {
  background-color: #2196f3 !important;
  color: #fff !important;
}

.next-button {
  width: 100%;
  /* Make the Next Question button full width */
  background-color: #2196f3 !important;
  color: #fff !important;
  margin-top: 10px;
  /* Add margin to separate it from answer buttons */
}

.loading-text {
  margin-top: 20px;
  font-size: 18px;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
