footer {
  background: #3f51b5;
  color: #fff;
  padding: 5px;
  text-align: top;
  position: fixed;
  bottom: 0;
  /* Place it at the bottom */
  width: 100%;
  height: 35px;

}
footer p {
  margin: 0;
  /* Remove any default margin */
  vertical-align: top;
  /* Align text to the top */
}
